footer, .footer, .footer h3 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-block-end: 0;
  padding-bottom: 0;
}

body {
  margin: none !important;
}

.row {
  margin-top: 20px;
}

.main-container {
  width: 100%;
  max-width: 800px;
}

.top-gap {
  margin-top: 80px;
}

.sticky-top {
  position: fixed;
  width: 100vw;
}

.navbar {
  opacity: .95;
}

.landing-div {
  background-image: url('./images/wood-bg.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 30px;
  text-align: right;
  padding-left: 40%;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.bring-forward {
  z-index: 20000;
}

.projects, .services {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 5px;
  padding: 5px;
}

.card-img-top {
  width: 190px;
  height: 110px;
  overflow: hidden;
}

.footer {
  width: 100%;
  background-color: lightgrey;
}

.limit-width {
  width: 100%;
  max-width: 800px;
}

.color-invert {
  color: white;
}

.bg-white {
  background-color: white;
}



